<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CustomRules</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGqCwwRFiIjJCUsL1UkbnVsbNIN
	Dg8QVXJ1bGVzViRjbGFzc4ACgAnSEg4TFVpOUy5vYmplY3RzoRSAA4AI1g4XGBkaGxwd
	Hh8gIVJpZFloYW5kbGVySWRXZW5hYmxlZFZkb21haW5YdXNlQ291bnSAB4AEgAYJgAUQ
	AFxUdXRvcmlhbFJ1bGVfEA9zdWJ0cmFjdGlvbi5jb21fEBBjb20uYXBwbGUuU2FmYXJp
	0iYnKClaJGNsYXNzbmFtZVgkY2xhc3Nlc18QEEJ1bXByLkN1c3RvbVJ1bGWiKitfEBBC
	dW1wci5DdXN0b21SdWxlWE5TT2JqZWN00iYnLS5XTlNBcnJheaItK9ImJzAxXxATQnVt
	cHIuQ3VzdG9tUnVsZVNldKIyK18QE0J1bXByLkN1c3RvbVJ1bGVTZXQACAARABoAJAAp
	ADIANwBJAEwAUQBTAF4AZABpAG8AdgB4AHoAfwCKAIwAjgCQAJ0AoACqALIAuQDCAMQA
	xgDIAMkAywDNANoA7AD/AQQBDwEYASsBLgFBAUoBTwFXAVoBXwF1AXgAAAAAAAACAQAA
	AAAAAAAzAAAAAAAAAAAAAAAAAAABjg==
	</data>
	<key>LGSettingsEnabledBrowserAppsKey</key>
	<dict>
		<key>com.apple.Safari</key>
		<false/>
		<key>com.google.Chrome</key>
		<true/>
		<key>com.google.chrome.for.testing</key>
		<true/>
		<key>com.googlecode.iterm2</key>
		<true/>
		<key>org.mozilla.firefox</key>
		<true/>
	</dict>
	<key>LGSettingsEnabledMailAppsKey</key>
	<dict>
		<key>com.apple.mail</key>
		<true/>
		<key>com.googlecode.iterm2</key>
		<true/>
		<key>us.zoom.xos</key>
		<true/>
	</dict>
	<key>LGSettingsLastOpenedVersion</key>
	<string>1.4.0</string>
	<key>LGSettingsOpenCountKey</key>
	<dict>
		<key>com.apple.mail</key>
		<integer>7</integer>
		<key>com.google.Chrome</key>
		<integer>5320</integer>
		<key>org.mozilla.firefox</key>
		<integer>474</integer>
	</dict>
	<key>LGSettingsProtocolOpenCountsKey</key>
	<dict>
		<key>email</key>
		<integer>7</integer>
		<key>web</key>
		<integer>5794</integer>
	</dict>
	<key>LGSettingsStartAtLogin</key>
	<true/>
	<key>LGSettingsVisibleAppsInBrowserPreferencesKey</key>
	<dict>
		<key>com.apple.Safari</key>
		<true/>
		<key>com.google.Chrome</key>
		<true/>
		<key>com.google.chrome.for.testing</key>
		<false/>
		<key>com.googlecode.iterm2</key>
		<false/>
		<key>org.mozilla.firefox</key>
		<true/>
	</dict>
	<key>LGSettingsVisibleAppsInMailPreferencesKey</key>
	<dict>
		<key>com.apple.mail</key>
		<true/>
		<key>com.googlecode.iterm2</key>
		<false/>
		<key>us.zoom.xos</key>
		<false/>
	</dict>
	<key>NSWindow Frame PrefWindow</key>
	<string>406 258 700 600 0 0 1512 944 </string>
	<key>UserNotificationDeliveryStats</key>
	<dict>
		<key>OneEnabledHandler</key>
		<dict>
			<key>deliveryCount</key>
			<integer>1</integer>
			<key>lastDelivered</key>
			<date>2024-12-18T19:49:56Z</date>
		</dict>
	</dict>
</dict>
</plist>
