<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSNavLastRootDirectory</key>
	<string>~/al/configs</string>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{800, 448}</string>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>356 372 800 448 0 0 1512 944 </string>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>allowAnyShortcut</key>
	<true/>
	<key>almostMaximizeHeight</key>
	<real>0.0</real>
	<key>almostMaximizeWidth</key>
	<real>0.0</real>
	<key>altThirdCycle</key>
	<integer>0</integer>
	<key>alternateDefaultShortcuts</key>
	<false/>
	<key>alwaysAccountForStage</key>
	<integer>0</integer>
	<key>applyGapsToMaximize</key>
	<integer>0</integer>
	<key>applyGapsToMaximizeHeight</key>
	<integer>0</integer>
	<key>attemptMatchOnNextPrevDisplay</key>
	<integer>0</integer>
	<key>autoMaximize</key>
	<integer>0</integer>
	<key>cascadeAllDeltaSize</key>
	<real>30</real>
	<key>centerHalfCycles</key>
	<integer>0</integer>
	<key>centeredDirectionalMove</key>
	<integer>0</integer>
	<key>cornerSnapAreaSize</key>
	<real>20</real>
	<key>curtainChangeSize</key>
	<integer>0</integer>
	<key>doubleClickTitleBar</key>
	<integer>0</integer>
	<key>doubleClickTitleBarRestore</key>
	<integer>0</integer>
	<key>dragFromStage</key>
	<integer>0</integer>
	<key>footprintAlpha</key>
	<real>0.30000001192092896</real>
	<key>footprintAnimationDurationMultiplier</key>
	<real>0.0</real>
	<key>footprintBorderWidth</key>
	<real>2</real>
	<key>footprintFade</key>
	<integer>0</integer>
	<key>gapSize</key>
	<real>0.0</real>
	<key>hideMenubarIcon</key>
	<false/>
	<key>ignoreDragSnapToo</key>
	<integer>0</integer>
	<key>ignoredSnapAreas</key>
	<integer>0</integer>
	<key>internalTilingNotified</key>
	<true/>
	<key>landscapeSnapAreas</key>
	<string>null</string>
	<key>lastVersion</key>
	<string>88</string>
	<key>launchOnLogin</key>
	<true/>
	<key>maximize</key>
	<dict>
		<key>keyCode</key>
		<integer>3</integer>
		<key>modifierFlags</key>
		<integer>1310720</integer>
	</dict>
	<key>minimumWindowHeight</key>
	<real>0.0</real>
	<key>minimumWindowWidth</key>
	<real>0.0</real>
	<key>missionControlDragging</key>
	<integer>0</integer>
	<key>missionControlDraggingAllowedOffscreenDistance</key>
	<real>25</real>
	<key>missionControlDraggingDisallowedDuration</key>
	<integer>250</integer>
	<key>moveCursor</key>
	<integer>0</integer>
	<key>moveCursorAcrossDisplays</key>
	<integer>0</integer>
	<key>notifiedOfProblemApps</key>
	<false/>
	<key>obtainWindowOnClick</key>
	<integer>0</integer>
	<key>portraitSnapAreas</key>
	<string>null</string>
	<key>reflowTodo</key>
	<dict>
		<key>keyCode</key>
		<integer>45</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>relaunchOpensMenu</key>
	<false/>
	<key>resizeOnDirectionalMove</key>
	<false/>
	<key>screenEdgeGapBottom</key>
	<real>0.0</real>
	<key>screenEdgeGapLeft</key>
	<real>0.0</real>
	<key>screenEdgeGapRight</key>
	<real>0.0</real>
	<key>screenEdgeGapTop</key>
	<real>0.0</real>
	<key>screenEdgeGapsOnMainScreenOnly</key>
	<false/>
	<key>shortEdgeSnapAreaSize</key>
	<real>145</real>
	<key>showAllActionsInMenu</key>
	<integer>0</integer>
	<key>sixthsSnapArea</key>
	<integer>0</integer>
	<key>sizeOffset</key>
	<real>0.0</real>
	<key>snapEdgeMarginBottom</key>
	<real>5</real>
	<key>snapEdgeMarginLeft</key>
	<real>5</real>
	<key>snapEdgeMarginRight</key>
	<real>5</real>
	<key>snapEdgeMarginTop</key>
	<real>5</real>
	<key>snapModifiers</key>
	<integer>0</integer>
	<key>specifiedHeight</key>
	<real>1050</real>
	<key>specifiedWidth</key>
	<real>1680</real>
	<key>stageSize</key>
	<real>190</real>
	<key>subsequentExecutionMode</key>
	<integer>1</integer>
	<key>todo</key>
	<integer>0</integer>
	<key>todoMode</key>
	<false/>
	<key>todoSidebarWidth</key>
	<real>400</real>
	<key>toggleTodo</key>
	<dict>
		<key>keyCode</key>
		<integer>11</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>traverseSingleScreen</key>
	<integer>0</integer>
	<key>unsnapRestore</key>
	<integer>0</integer>
	<key>windowSnapping</key>
	<integer>0</integer>
</dict>
</plist>
