<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleTextDirection</key>
	<true/>
	<key>NSForceRightToLeftWritingDirection</key>
	<false/>
	<key>NSFullScreenMenuItemEverywhere</key>
	<false/>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{908, 448}</string>
	<key>NSOSPLastRootDirectory</key>
	<data>
	Ym9va2gCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAGwBAAAEAAAAAwMAAAAAACAHAAAAAQEAAHByaXZhdGUAAwAAAAEB
	AAB0bXAACgAAAAEBAAB2YXVsdC10ZXN0AAAMAAAAAQYAABAAAAAgAAAALAAAAAgAAAAE
	AwAA8TYhBwAAAAAIAAAABAMAACm+zwcAAAAACAAAAAQDAACeVosIAAAAAAwAAAABBgAA
	VAAAAGQAAAB0AAAACAAAAAAEAABByCzPBo/D3BgAAAABAgAAAgAAAAAAAAAPAAAAAAAA
	AAAAAAAAAAAAAAAAAAEFAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2gg
	SEQIAAAABAMAAABQoRtzAAAACAAAAAAEAABBx8HRCIAAACQAAAABAQAAOUE3NUQxMkEt
	NzRDQy00MUMyLUI2MjItQzk5N0I3Rjk5NThGGAAAAAECAACBAAAAAQAAAO8TAAABAAAA
	AAAAAAAAAAABAAAAAQEAAC8AAAC0AAAA/v///wEAAAAAAAAADgAAAAQQAABAAAAAAAAA
	AAUQAACEAAAAAAAAABAQAACoAAAAAAAAAEAQAACYAAAAAAAAAAIgAABgAQAAAAAAAAUg
	AADQAAAAAAAAABAgAADgAAAAAAAAABEgAAAUAQAAAAAAABIgAAD0AAAAAAAAABMgAAAE
	AQAAAAAAACAgAABAAQAAAAAAADAgAADIAAAAAAAAAAHQAADIAAAAAAAAABDQAAAEAAAA
	AAAAAA==
	</data>
	<key>NSTreatUnknownArgumentsAsOpen</key>
	<string>NO</string>
	<key>NSWindow Frame GoToSheet</key>
	<string>730 674 460 215 0 0 1920 1170 </string>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>541 522 430 216 0 0 1512 944 </string>
</dict>
</plist>
